@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #cccccc;
}
.header {
  position: relative;
  background-image: url(/img/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 51, 102, 0.644);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.header .header_navegacion .menu {
  display: none;
}
.header_navegacion {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.logo {
  font-weight: bolder;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}
.header_navegacion .nevegacion ul {
  list-style: none;
}
.header_navegacion .nevegacion ul li {
  position: relative;
  float: left;
}
.header_navegacion .nevegacion ul li a {
  font-size: 18px;
  padding: 15px;
  margin-right: 10px;
  text-decoration: none;
  color: aliceblue;
}
.header_navegacion .nevegacion ul li a:hover {
  color: brown;
}

.header_container {
  position: absolute;
  text-align: center;
  width: 700px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.header_container h1 {
  color: white;
  font-size: 55px;
}

.header_container p {
  margin-top: 35px;
  color: white;
  white-space: normal;
}

.principal {
  margin-top: 100px;
}
.prinsipal_texto {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.prinsipal_texto .prinsipal_txt {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.prinsipal_texto .prinsipal_txt h2 {
  font-size: 50px;
  color: #003366;
  margin-bottom: 40px;
}
.prinsipal_texto .prinsipal_txt h2:hover {
  color: #003366;
}
.prinsipal_texto .prinsipal_txt p {
  font-size: 18px;
  line-height: 30px;
}
.prinsipal_texto .prinsipal_txt a {
  text-decoration: none;
  display: block;
  padding: 15px;
  background-color: #009999;
  color: white;
  border-radius: 50%;
  width: 100px;
}
.prinsipal_texto .prinsipal_txt a:hover {
  background-color: #003366;
}

.prinsipal_texto .prinsipal_img {
  width: 65%;
  overflow: hidden;
}
.prinsipal_texto .prinsipal_img img {
  background-image: url(/img/wabes.svg);
  max-width: 100%;
  height: auto;
}
.principal_cartas {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.principal_cartas .cartas_servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  background: white;
}
.cartas_servicios img {
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
}
.cartas_servicios h3 {
  font-size: 25px;
  color: #003366;
  margin-bottom: 15px;
}
.cartas_servicios p {
  font-size: 18px;
}
